<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dokumen N1</title>
</head>
<body>
    <div class="container" style=" font-family: 'Times New Roman', Times, serif; font-size:10pt;word-wrap: break-word;">
    <div class="header" style=" ">
        <p style="margin: 0;">Lampiran V</p>
        <p style="margin: 0;">Keputusan Dirjen Bimas Islam No 473 Tahun 2020</p>
    </div>
    <div class="letter-head">
        <div style="text-align: center; margin: 10px;">FORMULIR SURAT PENGANTAR NIKAH </div>
        <div style="text-align: end;">Model N 1</div>
        <table style="">
            <tr>
                <td>KANTOR DESA/KELURAHAN</td>
                <td>:</td>
                <td>KANTOR DESA/KELURAHAN</td>
            </tr>
            <tr>
                <td>KECAMATAN</td>
                <td>:</td>
                <td>KECAMATAN</td>
            </tr>
            <tr>
                <td>KABUPATEN/KOTA</td>
                <td>:</td>
                <td>KABUPATEN/KOTA</td>
            </tr>
        </table>
    </div>
    <div class="form-pemohon" style="margin-bottom:10px;">
        <div style=" text-align: center;margin:10px 0;">
            <div>PENGANTAR NIKAH</div>
            <div>NOMOR : 400.12.3.2 /&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/ PELUM </div>
        </div>

        <div>Yang bertanda tangan di bawah ini menjelaskan dengan sesungguhnya bahwa :  </div>
        <table style="">
            <tr>
                <td>I</td>
                <td>1.</td>
                <td >Nama</td>
                <td>:</td>
                <td>{{ $pemohon->nama }}</td>
            </tr>
            <tr>
                <td></td>
                <td>2.</td>
                <td style="width: 250px;">Nomor Induk Kependudukan (NIK)</td>
                <td>:</td>
                <td>{{ $pemohon->nik }}</td>
            </tr>
            <tr>
                <td></td>
                <td>3.</td>
                <td>Jenis Kelamin</td>
                <td>:</td>
                <td>{{ $pemohon->gender }}</td>
            </tr>
            <tr>
                <td></td>
                <td>4.</td>
                <td style="width: 250px;">Tempat dan tanggal lahir </td>
                <td>:</td>
                <td>{{ $pemohon->tempat_lahir }},&nbsp; {{ $pemohon->tanggal_lahir }}</td>
            </tr>
            <tr>
                <td></td>
                <td>5.</td>
                <td>Kewarganegaraan </td>
                <td>:</td>
                <td>{{ $pemohon->kewarganegaraan }}</td>
            </tr>
            <tr>
                <td></td>
                <td>6.</td>
                <td>Agama</td>
                <td>:</td>
                <td>{{ $pemohon->agama }}</td>
            </tr>
            <tr>
                <td></td>
                <td>7.</td>
                <td>Pekerjaan</td>
                <td>:</td>
                <td>{{ $pemohon->pekerjaan }}</td>
            </tr>
            <tr style="vertical-align: top;
    ">
                <td></td>
                <td>8.</td>
                <td>Alamat</td>
                <td>:</td>
                <td>{{ $pemohon->alamat }}&nbsp; {{ $pemohon->rt }} <br> KELURAHAN SIMPANG III SIPIN <br> KOTABARU KOTA JAMBI</td>
            </tr>
            <tr>
                <td></td>
                <td>9.</td>
                <td>Status perkawinan  </td>

            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>a.&nbsp;&nbsp;Laki-laki : Jejaka, Duda</td>
                <td>:</td>
                <td>{{ $pemohon.marital }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;atau Beristri ke... </td>
                <td>:</td>
                <td>{{ $pemohon.spouse_count }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>b.&nbsp;&nbsp;Perempuan : Perawan, Janda</td>
                <td>:</td>
                <td>{{ $pemohon.spouse_count }}</td>
            </tr>
            <tr>
                <td></td>
                <td>10.</td>
                <td>Nama istri/suami terdahulu </td>
                <td>:</td>
                <td>{{ $pemohon.spouse_count }}</td>
            </tr>

        </table>
    </div>
        <div class="form-ayah" style="margin-bottom:10px;">
            <div>Adalah benar anak dari perkawinan seorang pria :</div>
            <table>
                <tr>
                    <td>II</td>
                    <td>1.</td>
                    <td style="width: 253px;">Nama Lengkap dan alias </td>
                    <td>:</td>
                    <td>{{ $ayah.name }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2.</td>
                    <td>Nomor Induk Kependudukan (NIK)</td>
                    <td>:</td>
                    <td>{{ $ayah.name }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3.</td>
                    <td>Tempat dan tanggal lahir</td>
                    <td>:</td>
                    <td>{{ $ayah.name }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>4.</td>
                    <td>Kewarganegaraan</td>
                    <td>:</td>
                    <td>{{ $ayah.name }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>5.</td>
                    <td>Agama</td>
                    <td>:</td>
                    <td>{{ $ayah.name }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1.</td>
                    <td>Pekerjaan</td>
                    <td>:</td>
                    <td>{{ $ayah.name }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>7.</td>
                    <td>Alamat</td>
                    <td>:</td>
                    <td>{{ $ayah.name }}</td>
                </tr>
            </table>
        </div>
        <div class="form-ibu" style="margin-bottom:10px;">
            <div>Dengan seorang wanita :</div>
            <table>
                <tr>
                    <td>III</td>
                    <td>1.</td>
                    <td style="width: 249px;">Nama Lengkap dan alias </td>
                    <td>:</td>
                    <td>{{ $ibu.name }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2.</td>
                    <td>Nomor Induk Kependudukan (NIK)</td>
                    <td>:</td>
                    <td>{{ $ibu.name }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3.</td>
                    <td>Tempat dan tanggal lahir</td>
                    <td>:</td>
                    <td>{{ $ibu.name }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>4.</td>
                    <td>Kewarganegaraan</td>
                    <td>:</td>
                    <td>{{ $ibu.name }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>5.</td>
                    <td>Agama</td>
                    <td>:</td>
                    <td>{{ $ibu.name }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1.</td>
                    <td>Pekerjaan</td>
                    <td>:</td>
                    <td>{{ $ibu.name }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>7.</td>
                    <td>Alamat</td>
                    <td>:</td>
                    <td>{{ $ibu.name }}</td>
                </tr>
            </table>
        </div>
<div>Demikian, Surat Pengantar ini dibuat dengan mengingat sumpah jabatan dan untuk dipergunakan sebagaimana mestinya.</div>
        <div class="ttd-con" style="justify-content: end;display: flex; flex-direction: column; align-items: end;">
            <div class="ttd-header" style="margin:10px 30px 40px 0; text-align: center;">
                <div>
                    Jambi,{{ todaydate }}
                </div>
                <div>
                    {{ $lurah.jabatan }}
                </div>
            </div>
            <div class="ttd-footer" style="margin:40px 30px 10px 0;text-align: center;">
                <div>
                    {{ $lurah.name }}
                </div>
                <div>
                    {{ $lurah.pangkat }}
                </div>
                <div>
                    NIP.{{ $lurah.NIP }}
                </div>
            </div>
        </div>
</div>
</body>
</html>
